@page "/accept-stock"

<div class="container">

    <h3 class="bg-body shadow-sm">Inspect Stock</h3>

    <div class="bg-body shadow-sm rounded">
        <form class="row card-1 p-3">
            <div class="col-md-3">
                <label for="validationDefault04" class="form-label">Stock ID</label>
                <select class="form-select" id="validationDefault04" required>
                    <option selected disabled value="">Select Stock ID...</option>
                    <option>0001</option>
                    <option>0002</option>
                    <option>0003</option>
                    <option>0004</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="validationDefault02" class="form-label">PO Number</label>
                <input type="text" class="form-control" id="validationDefault02" value="2023010109" disabled>
            </div>
            <div class="col-md-3">
                <label for="validationDefault02" class="form-label">Fund Cluster</label>
                <input type="text" class="form-control" id="validationDefault02" value="2023010109" disabled>
            </div>
            <div class="col-md-3">
                <label for="validationDefault02" class="form-label">Responsibility Center Code</label>
                <input type="text" class="form-control" id="validationDefault02" value="2023010109" disabled>
            </div>

            <div class="col-md-3">
                <label for="validationDefault02" class="form-label">Supplier</label>
                <input type="text" class="form-control" id="validationDefault02" value="2023010109" disabled>
            </div>
            <div class="col-md-3">
                <label for="validationDefault02" class="form-label">Requisitioning Office/Department</label>
                <input type="text" class="form-control" id="validationDefault02" value="2023010109" disabled>
            </div>
            <div class="col-md-6">
                <label for="validationDefault02" class="form-label">Purpose</label>
                <input type="text" class="form-control" id="validationDefault02" value="2023010109" disabled>
            </div>

            @*TABLE*@
            <div class="table-responsive mt-4">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="row">Item Description</th>
                            <th scope="row">Unit</th>
                            <th scope="row">Quantity</th>
                            <th scope="row">Amount</th>
                            <th scope="row">Requestor</th>
                            <th scope="row">Division</th>
                            <th scope="row">Office</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Computer Desktop</td>
                            <td>Unit</td>
                            <td>10</td>
                            <td>5,999</td>
                            <td>Jan Phillip Dacallos</td>
                            <td></td>
                            <td>Office of Student's Affairs</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </form>
    </div>

    <div class="bg-body shadow-sm rounded mt-2">
        <div class="row card-1 p-3">
            
            <div class="col-md-2">
                <input class="form-check-input" @bind="@isPartial" type="checkbox" @onclick="@ToggleCheckBox" id="PartialCheckDefault">
                <label class="form-check-label" for="PartialCheckDefault">
                    Partial
                </label>
                <div class="w-100">
                    <input type="number" disabled="@(!isPartial)" class="form-control" id="validationDefault02" value="">
                </div>
            </div>

            <div class="col-md-2">
                <input class="form-check-input" @bind="@isComplete" type="checkbox" @onclick="@ToggleCheckBox" id="CompleteCheckDefault">
                <label class="form-check-label" for="CompleteCheckDefault">
                    Complete
                </label>
            </div>

            <div class="col-12">
                <button class="btn btn-primary accordion-body submit-btn mt-3" disabled="@(!isComplete && !isPartial)" type="submit"><i class="fa-solid fa-magnifying-glass pe-2"></i>Inspect</button>
            </div>
        </div>
    </div>
</div>

@code {
    private bool isComplete { get; set; } = false;
    private bool isPartial { get; set; } = false;
    public string? buttonState { get; set; } = "disabled";
    public string? inputState { get; set; } = "disabled";

    private void ToggleCheckBox()
    {
        if (!isComplete)
        {
            buttonState = "";
            isPartial = false;
        }
        else if (!isPartial)
        {
            buttonState = "";
            isComplete = false;
        }
    }
}
